<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="think">
        <h2>Heading out?<br/> Stay connected</h2>
        <p>Visit <strong>daily smarty</strong> in Simple forum.</p>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="header">
        <h1>Sign In</h1>
        <span>Access your account.</span>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group clearfix">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="form-group clearfix">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="form-group clearfix">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="actions" style="padding: 10px 0;">
          <%= f.submit "Sign up", class: "btn btn-default btn-orange" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
