<div class="container bg-light">
  <div class="row pt-3">
    <div class="col-sm-12">
        <div class="row">
        <div class="col-sm-3 mt-3">
          <%= link_to user_path(@user), class: "nav-link" do %>
            <% if @user.avatar? %>
              <%= image_tag @user.avatar, width: "100%" %>
            <% else %>
              <%= fa_icon "user 5x" %>
            <% end %>
            <% if @user.name? %>
              <p><strong><%= @user.name %></strong></p>
            <% else %>
              <p><strong><%=  @user.email.split('@').first %></strong></p>
            <% end %>
          <% end %>
        </div>
        <div class="col-sm-9">
          <p><%= @user.description %></p>
          <% if @user == current_user %>
            <div class="d-flex flex-row-reverse">
              <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %>
            </div>
          <% else %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" class="<%= "active" if current_page?(user_path(@user)) %>">
        <%= link_to 'Post', user_path(@user) %>
      </li>
      <li role="presentation" class="<%= "active" if current_page?(comments_user_path(@user)) %>">
        <%= link_to 'Comment', comments_user_path %>
      </li>
      <li role="presentation" class="<%= "active" if current_page?(collects_user_path(@user)) %>">
        <%= link_to 'Collect', collects_user_path%>
      </li>
      <% if @user == current_user %>
        <li role="presentation" class="<%= "active" if current_page?(drafts_user_path(@user)) %>">
          <%= link_to 'Draft', drafts_user_path %>
        </li>
      <% end %>
      <li role="presentation" class="<%= "active" if current_page?(friends_user_path(@user)) %>">
        <%= link_to 'Friend', friends_user_path %>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Title</th>
          <th>Status</th>
          <th>Time</th>
          <th>#</th>  
        </tr>
      </thead>    
        <% @drafts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td>Draft</td>
            <td><%= post.updated_at.strftime("%Y-%m-%d") %></td>
            <td>
              <% if post.user == current_user || current_user.admin? %>
                <div class="buttons">
                  <%= link_to edit_post_path(post), class: "p-2" do %>
                    <i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to post_path(post), method: :delete, data: { confirm: "確定刪除？" }, class: "p-2 text-danger" do %>
                    <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                  <% end %>
                </div>
              <% end %>     
            </td>       
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $("td[data-link]").click(function() {
    window.location.href = $(this).attr("data-link")
  })
</script>