<div class="container bg-light">
  <div class="row pt-3">
    <div class="col-sm-12">
        <div class="row">
        <div class="col-sm-3 mt-3">
          <%= link_to user_path(@user), class: "nav-link" do %>
            <% if @user.avatar? %>
              <%= image_tag @user.avatar, width: "100%" %>
            <% else %>
              <%= fa_icon "user 5x" %>
            <% end %>
            <% if @user.name? %>
              <p><strong><%= @user.name %></strong></p>
            <% else %>
              <p><strong><%=  @user.email.split('@').first %></strong></p>
            <% end %>
          <% end %>
        </div>
        <div class="col-sm-9">
          <p><%= @user.description %></p>
          <% if @user == current_user %>
            <div class="d-flex flex-row-reverse">
              <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %>
            </div>
          <% else %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" class="<%= "active" if current_page?(user_path(@user)) %>">
        <%= link_to 'Post', user_path(@user) %>
      </li>
      <li role="presentation" class="<%= "active" if current_page?(comments_user_path(@user)) %>">
        <%= link_to 'Comment', comments_user_path %>
      </li>
      <li role="presentation" class="<%= "active" if current_page?(collects_user_path(@user)) %>">
        <%= link_to 'Collect', collects_user_path%>
      </li>
      <% if @user == current_user %>
        <li role="presentation" class="<%= "active" if current_page?(drafts_user_path(@user)) %>">
          <%= link_to 'Draft', drafts_user_path %>
        </li>
      <% end %>
      <li role="presentation" class="<%= "active" if current_page?(friends_user_path(@user)) %>">
        <%= link_to 'Friend', friends_user_path %>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="container border bg-light">
      <div class="container border bg-light">
        <h5 class="text-center">
          Waiting for response
        </h5>
        <div class="row" id="wait-friend">
          <% @not_yet_accepted_by_friends.each do |user| %>
            <div class="col-sm-2" id="user-<%= user.id %>">
              <%= render partial: "shared/user_item", locals: { user: user } %>
            </div>
          <% end %>
        </div>
      </div>
      <h5 class="text-center">
        Friends invitation      
      </h5>
      <div class="row" id="unaccept-friend">
        <% @not_yet_responded_to_friends.each do |user| %>
          <div class="col-sm-2" id="user-<%= user.id %>">
            <%= render partial: "shared/user_item", locals: { user: user } %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container border bg-light">
      <h5 class="text-center">
        Friends List
      </h5>
      <div class="row" id="friend">
        <% @friends.each do |user| %>
          <div class="col-sm-2" id="user-<%= user.id %>">
            <%= render partial: "shared/user_item", locals: { user: user } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $("td[data-link]").click(function() {
    window.location.href = $(this).attr("data-link")
  })
</script>