<div class="container bg-light">
  <div class="row pt-3">
    <div class="col-sm-12">
        <div class="row">
        <div class="col-sm-3 mt-3">
          <%= link_to user_path(@user), class: "nav-link" do %>
            <% if @user.avatar? %>
              <%= image_tag @user.avatar, width: "100%" %>
            <% else %>
              <%= fa_icon "user 5x" %>
            <% end %>
            <p class="text-center"><strong><%= @user.name %></strong></p>
          <% end %>
        </div>
        <div class="col-sm-9">
          <p><%= @user.description %></p>
          <% if @user == current_user %>
            <div class="d-flex flex-row-reverse">
              <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %>
            </div>
          <% else %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class ="container">
  <div clasee ="row">
    <table class="table table-hover text-center bg-light">
      <tbody>
        <tr>
          <td>Title</td>
          <td>Status</td>
          <td>Time</td>
          <td>#</td>          
        </tr>
        <% @posts.each do |post| %>
          <tr>
            <td data-link="<%= post_path(post) %>"><%= post.title %></td>
            <td data-link="<%= post_path(post) %>">Published</td>
            <td data-link="<%= post_path(post) %>"><%= post.updated_at.strftime("%Y-%m-%d") %></td>
            <td>
              <% if post.user == current_user || current_user.admin? %>
                <div class="buttons">
                  <%= link_to edit_post_path(post), class: "p-2" do %>
                  <% end %>
                  <%= link_to post_path(post), method: :delete, data: { confirm: "Are you sure to delete?" }, class: "p-2 text-danger" do %>
                  <% end %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @user == current_user %>
      <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
  $("td[data-link]").click(function() {
    window.location.href = $(this).attr("data-link")
  })
</script>