<div class="user-item text-center mt-3 mb-3">
  <%= link_to user_path(user), class: "nav-link" do %>
    <div class="avatar">
      <% if user.avatar? %>
        <%= image_tag user.avatar, width: "100%" %>
      <% else %>
        <%= fa_icon "user 5x" %>
      <% end %>
    </div>
    <% if user.name? %>
      <p><strong><%= user.name %></strong></p>
    <% else %>
      <p><strong><%=  user.email.split('@').first %></strong></p>
    <% end %>
  <% end %>

  <div class="links" id="user-<%= user.id %>">
    <% if user !=  current_user %>
      <% if current_user.not_yet_responded_to?(user) %>
        <%= link_to "Accept", accept_friendship_path(user), class: "btn btn-primary", method: :post, remote: true %><br>
        <%= link_to "Ignore", ignore_friendship_path(user), class: "btn btn-danger", method: :delete, remote: true %>
      <% elsif current_user.not_yet_accepted_by?(user) %>
        <%= link_to "Add friend", friendships_path(friend_id: user), class: "btn btn-primary", method: :post, remote: true %>
    <% end %>
  </div>
</div>