<div class="container">
  <div class="row border-bottom bg-light pt-5">
    <div class="col-sm-3">
      <h3>
        <strong><%= @post.title %></strong>
      </h3>
    </div>
    <div class="col-sm-3 offset-sm-6">
      <% if @post.collected_by?(current_user) %>
        <%= link_to "Uncollect", uncollect_post_path(@post), remote: true, method: :post, class: "btn btn-sm btn-primary", id: "uncollect-#{@post.id}" %>
      <% else %>
        <%= link_to "Collect", collect_post_path(@post), remote: true, method: :post, class: "btn btn-sm btn-primary", id: "collect-#{@post.id}" %>
      <% end %>
      <%= link_to "Comment", "#comments" ,class: "btn btn-sm btn-primary" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 border">
      <div class="user-item text-center mt-3 mb-3">
        <%= link_to user_path(@post.user_id), class: "nav-link" do %>
          <div class="avatar">
            <% if @post.user.avatar? %>
              <%= image_tag @post.user.avatar, width: "100%" %>
            <% else %>
              <%= fa_icon "user 5x" %>
            <% end %>
          </div>
          <% if @post.user.name? %>
            <p><strong><%= @post.user.name %></strong></p>
          <% else %>
            <p><strong><%=  @post.user.email.split('@').first %></strong></p>
          <% end %>
          <div class="links" id="user-<%= @post.user.id %>">
            <% if @post.user !=  current_user %>
              <% unless current_user.friend?(@post.user) %>
                <% if current_user.not_yet_responded_to?(@post.user) %>
                  <%= link_to "Accept", accept_friendship_path(@post.user), class: "btn btn-primary", method: :post, remote: true %><br>
                  <%= link_to "Ignore", ignore_friendship_path(@post.user), class: "btn btn-danger", method: :delete, remote: true %>
                <% elsif current_user.not_yet_accepted_by?(@post.user) %>
                <% else %>
                  <%= link_to "Add Friend", friendships_path(friend_id: @post.user), class: "btn btn-primary", method: :post, remote: true %>
                <% end %>
              <% end %>
            <% end %>
          </div>          
        <% end %>
      </div>
    </div>
    <div class="col-sm-9 border">
      <div class="image mt-3">
        <%= image_tag @post.image, width: "500px" if @post.image? %>
      </div>
      <div class="content-item w-100">

        <% if @post.content.length > 50 %>
          <%= truncate(@post.content, length: 30) %>
          <%= link_to '...Read more', '', class: "read-more-#{@post.id}" %>
          <script>
            $('.read-more-<%= @post.id %>').on('click', function(e) {
              e.preventDefault()
              $(this).parent().html('<%= escape_javascript simple_format(@post.content) %>')
            })
          </script>
        <% else %>
          <%= simple_format(@post.content) %>
        <% end %>

        <div class="row">
          <div class="col-sm-2 offset-sm-10">
            <% if @post.user == current_user || current_user.admin? %>
              <div class="buttons">
                <%= link_to edit_post_path(@post), class: "p-2" do %>
                  <%= fa_icon "edit 2x" %>
                <% end %>
                <%= link_to post_path(@post), method: :delete, data: { confirm: "Are you sure to delete?" }, class: "p-2 text-danger" do %>
                  <%= fa_icon "window-close-o 2x" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>      
    </div>
  </div>

  <% @comments.each do |comment| %>
    <div class="row">
      <div class="col-sm-3 border">
        <div class="user-item text-center mt-3 mb-3">
          <%= link_to user_path(comment.user), class: "nav-link" do %>
            <div class="avatar">
              <% if comment.user.avatar? %>
                <%= image_tag comment.user.avatar, width: "100%" %>
              <% else %>
                <%= fa_icon "user 5x" %>
              <% end %>
            </div>
            <% if comment.user.name? %>
              <p><strong><%= comment.user.name %></strong></p>
            <% else %>
              <p><strong><%=  comment.user.email.split('@').first %></strong></p>
            <% end %>            
          <% end %>
        </div>
      </div>
      <div class="col-sm-9 border">
        <div class="content-item w-100">
          <%= simple_format(comment.content) %>
          <div class="row">
            <div class="col-sm-2 offset-sm-10">
              <% if comment.user == current_user || current_user.admin? %>
                <div class="buttons">
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="text-center">
    <%= paginate @comments %>
  </div>

  <div class="row" id="comments">
    <div class="col-sm-12 border">
      <%= form_for [@post, @comment] do |f| %>
        <div class="form-group">
          <%= f.text_area :content, placeholder: "Leave a message", class: "form-control mt-4 bg-light" %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-primary btn-xs" %>
          <%= f.button "Cancel", type: :reset, class: "btn btn-danger btn-xs" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row bg-light">
  </div>

  <div class="row" id="comments">
    <div class="col-sm-12 border">
    </div>
  </div>
</div>